<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/LoginStyles.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>


    <script src="~/scripts/bootstrap.js"></script>
</body>
</html>
