body {
    background-image: url('../CMS BILLEDER/cms1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.70);
}

.loginwrap {
    width: 300px;
    height: 200px;
    border-radius: 5px 5px 5px 5px;
    background-color: #00a1e7;
}

.input1 {
    margin-top: 15px;
}

.input2 {

}

.knap1 {
    border-right: 1px solid #4cc8ff !important;
    border-left: 1px solid #4cc8ff !important;
    border-radius: 0px;
}

.knap2 {
    margin-left: -5px;
    border-right: 1px solid #4cc8ff !important;
    border-radius: 0px;
}

input {
    height: 50px;
    padding-right: 25px;
    margin-top: 10px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.00);
    border: none;
    border-bottom: 1px solid #4cc8ff;
    color: rgba(255, 255, 255, 0.70);
}

button {
    margin-top: 15px;
    width: 98px;
    color: rgba(255, 255, 255, 0.70);
    background-color: #00a1e7;
    cursor: pointer;
}



img {
    margin-top: 25%;
    margin-bottom:40px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.70);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(255, 255, 255, 0.70);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(255, 255, 255, 0.70);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(255, 255, 255, 0.70);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(255, 255, 255, 0.70);
}

::placeholder { /* Most modern browsers support this now. */
   color: rgba(255, 255, 255, 0.70);
}

input:focus {
    border:none;
    outline-width: 0;
    border-bottom: 1px solid #4cc8ff;
}
